version: '3'
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    depends_on:
      - backend
    volumes:
      - ./src/screens/config.json:/app/config.json
    networks:
      - fnet
  backend:
    build:
      context: ./node-postgres/backend
      dockerfile: Dockerfile
    ports:
      - "3002:3001"
    env_file:
      - ./node-postgres/backend/.env
    depends_on:
      - db_postgres
    networks:
      - fnet
  db_postgres:
    image: postgres
    environment:
      - POSTGRES_DB=ideathon
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - fnet
    
networks:
  fnet:
    driver: bridge
volumes:
  postgres_data:
